

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  // style for MatchedChoice component
.multi-spine { 
  text-align: left; 
  padding: 0.429em;
  width: 40%;
}

// style allow in MatchedChoice component
.multi-arrow {
  text-align: center;
  padding: 0.429em;
  width: 20%;
}

// style input form in MatchedChoice component
.multi-form {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  padding: 5px;
}

// style to set position right in one line
.line-right {
  display: inline-block;
  width: 50%;
}

// style to set position left in one line
.line-left {
  display: inline-block;
  width: 50%;
}

// style to set dropdown component size
.select-big {
  max-width: 70%;
  min-width: 70%;
}

.select-small {
  width : 100px;
  min-width: 30%;
  max-width: 30%;
}
// style for UitState component
.unit-stat {
  margin-top: 45px;
}

// style for TypeDropdown
.data-type {
  margin-top : 50px;
  margin-left: 33.333%; 
}

// style for Varify component
.varify {
  margin-left: 70%;
}

// style for OntologyList
.ontology-list {
  width: 90%;
  padding:0 ;
}

//style for ProgressPanel component
.progress-panel {
  width: 80%;
}

.overflow-list {
  overflow: scroll;
}

.curr-prog-panel {
  color: #F0E68C;
}