.ReactTable {
    width: 100%;
    overflow: scroll;
}

.panel-body {
    color: black;
        &:hover {
        color: #0090B2;
        }
}

.rt-td {
    color: black;
        &:hover {
        color: #0090B2;
        }
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

.multi-spine { 
  // position: absolute;
  // left: 0; 
  text-align: left; 
  padding: 0.429em;
  width: 40%;
}

.multi-submit {
  // position: absolute;
  // right: 0; 
  text-align: right;
  width: 40%;
}

.multi-arrow {
  text-align: center;
  padding: 0.429em;
  width: 20%;
}


.multi-form {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  // justify-content: center; 
  // position: relative;
  padding: 5px;
}


.column-left {
  float: left;
  width: 35%;
  padding:10px;
}

.column-right {
  float: left;
  width: 35%;
  padding:10px;
}

.column-middle {
  float: left;
  width: 30%;
  padding:10px;
}

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}




.line-right {
  display: inline-block;
  width: 50%;
}

.line-left {
  display: inline-block;
  width: 50%;
}

.select-big {
  max-width: 70%;
  min-width: 70%;
}

.select-small {
  width : 100px;
  min-width: 30%;
  max-width: 30%;
}

.help {
  float: right;
}

.unit-stat {
  margin-top: 45px;
}

.associate {
  margin-bottom: 65px;
}

.adjust-top {
  margin-top: 55px;
}

.data-type {
  margin-top : 50px;
  margin-left: 33.333%; 
}

.varify {
  margin-left: 70%;
}

