
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

.ReactTable {
    width: 100%;
    overflow: scroll;
}

// .rt-tbody,
// .rt-thead {
//   overflow-x: hidden !important;
// }

.panel-body {
    color: black;
        &:hover {
        color: #0090B2;
        }
}

.rt-td {
    color: black;
        &:hover {
        color: #0090B2;
        }
}


div .rt-th .rt-resizableheader {
    padding: 0px;
}

.h-match {
    background: #b4ffc8;
}

.h-unmatch {
    background: red;
}

span .arrow{
    height: 10;
}

.header-c {
    background:  #b4ffc8;
}

.match-flag {
    margin: 0px;
}
 